// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #f6e8ea;
}

.linea {
    height: 2px;
    width: 100%;
    background-color: #232323;
}

.width-500 {
    width: 500px;
}

.bg-pink {
    background-color: #f2ccd2;
}

.text-pink {
    color: #e28d8d;
    font-weight: bold;
}

.text-white {
    color: white;
}

.fs-40 {
    font-size: 40px;
}

.p-shadow-10 {
    box-shadow: 0 0 10px black;
}

.p-bg-gradient-pink {
    background: linear-gradient(to left, #f6e8ea 60%, #f2ccd2);
}

.p-text-white {
    color: white;
}

.anteprimaCarta {
    border: 2px solid black;
    border-radius: 20px;
    height: 200px;
}

// ---- HOVER ---------------------------------------------------

.btnHover:hover {
    /* Stili di hover generici per tutti i bottoni */
    filter: brightness(
        1.1
    ); /* Applica una sfumatura scura a tutti i bottoni al passaggio del mouse */
    box-shadow: 0 0 5px #e28d8d;
    color: #e28d8d;
}

.linkHover:hover {
    color: #bb2828;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
}

.p-img-show {
    width: 400px;
}

.p-show-card {
    border: 2px solid black;
    border-radius: 20px;
}
